# Standard VS.NET

*.pdb
*.exe
obj
bin
Obj
Bin
TestResults
_ReSharper
*.vs10x
*.csproj.user
*.suo
*.scc
*.dll
*.vspscc
obj/

# Other useful stuff
* Thumbs.db
*.bak
*.cache
*.log
*.swp
*.user
*.rdl.data
*.MDF
*.LDF
*.scc
*.ilk
*.ncb
_ReSharper*
