<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="neo4j"  connectionString="http://localhost:7474/db/data/"  providerName="Neo4j" />
		<add name="neo4jGremlinExtension"  connectionString="/ext/GremlinPlugin/graphdb/execute_script/" providerName="Neo4j"/>
		<add name="neo4jCypherExtension"  connectionString="/ext/CypherPlugin/graphdb/execute_query/" providerName="Neo4j"/>
	</connectionStrings>

	<appSettings>
		<add key="EncryptIdKey" value="KeyForEncrypting"/>
		<add key="EncryptIdIV" value="IVForEncrypting1"/>
	</appSettings>
</configuration>