<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="neo4jRestNet" type="Neo4jRestNet.Configuration.ConnectionSettings, Neo4jRestNet" />
	</configSections>

	<neo4jRestNet>
		<databases>
			<add name="neo4j" default="true" https="false" domain="localhost" port="7475" dataPath="/db/data" gremlinPath="/ext/GremlinPlugin/graphdb/execute_script" />
		</databases>
	</neo4jRestNet>

	<appSettings>
		<add key="EncryptIdKey" value="KeyForEncrypting"/>
		<add key="EncryptIdIV" value="IVForEncrypting1"/>
	</appSettings>

	<!--  This is required to support escaped '/' and '.' values in the URL (such as looking up an node via a index) -->
	<uri>
		<schemeSettings>
			<add name="http" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/>
			<add name="https" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/>
		</schemeSettings>
	</uri>
</configuration>

